---
import { PrismaClient } from '@prisma/client';
import MenuItem from '../../../../components/MenuItem.astro';

const prisma = new PrismaClient();
const menus = await prisma.qrf_menus.findMany({
    orderBy: {
        number: 'asc',
    },
});
--- 

<h3 class="text-xl font-semibold text-white bg-orange-400 p-5 rounded-t-xl">MENUS À LA CARTE</h3>
<p class="pt-2 pl-5 text-xs flex gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
    </svg>
Les menus présent sur votre carte</p>
<p class="pl-11 text-xs">Ex. Menu du jour, Menu à 20 euros, etc...</p>
<ul id="menu-list" class="space-y-4 pb-5">
    {menus.map((menu) => (
        <MenuItem id={menu.id} index={menu.number} name={menu.name} description={menu.description} entrees={menu.entrees} plats={menu.plats} desserts={menu.desserts} />
    ))}

    <!-- Add Menu button styled like your menu items -->
    <button
        id="add-menu-button"
        type="button"
        onclick="addMenuItemBefore(this)"
        class="ml-auto mt-6 mr-5 flex items-center rounded-lg justify-center gap-3 px-4 py-3 bg-gray-900 text-white font-semibold  focus:outline-none  transition relative"
    >
        <!-- Circular dark gray plus icon -->
        <span
        class="w-8 h-8 rounded-full bg-gray-900 text-white flex items-center justify-center flex-shrink-0"
        aria-hidden="true"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </span>

        <span class="relative z-10">Ajouter un menu</span>

        <!-- Horizontal line behind the text -->
        <span
        class="absolute left-0 right-0 top-1/2 border-t border-orange-300 -z-10"
        ></span>
    </button>
</ul>
<script src="/src/scripts/menu.js" defer type="module"></script>